.hide {
  display: none;
}

.PostForm {
  background-color: #79c5e8;
  border-radius: 5px;
  width: 400px;
  padding: 10px;
}

.PostForm button {
  font-family: "Dosis", sans-serif;
  font-size: 1.5rem;
  background-color: #f3f1f7;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  padding: 15px;
  width: 100%;
}

.PostForm button:hover {
  cursor: pointer;
}

.PostForm input[type="text"] {
  font-family: "Dosis", sans-serif;
  font-size: 1rem;
  height: 35px;
  border: 1px solid black;
  border-radius: 5px;
  width: 99%;
}

.PostForm textarea {
  font-family: "Dosis", sans-serif;
  font-size: 1rem;
  width: 99%;
  height: 200px;
  border: 1px solid black;
  border-radius: 5px;
}

.PostForm .x {
  float: right;
  color: black;
  font-size: 1.5rem;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
