@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap");

.SocialPosts h1 {
  color: #03a9f4;
  font-family: "Homemade Apple", cursive;
  font-size: 3rem;
}

.SocialPosts h2 {
  font-size: 2rem;
  font-weight: bold;
  margin: 5px 0;
}

.postList {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  margin: 21px 0;
  padding: 35px 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.thoughtContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.PostInList {
  border-bottom: 1px solid #f3f1f7;
  width: 100%;
  text-align: start;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.deleteContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
}

.SocialPosts button {
  background-color: #03a9f4;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  width: 100%;
  padding: 10px;
  font-family: "Dosis", sans-serif;
  font-weight: bold;
  font-size: 2rem;
}

.SocialPosts button:hover {
  background-color: #79c5e8;
  cursor: pointer;
}

.SocialPosts {
  width: 50%;
  text-align: center;
}

.containerMain {
  display: flex;
  justify-content: center;
}

.PostWindow {
  background-color: rgba(0, 0, 0, 0.75);
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
