@import url("https://fonts.googleapis.com/css2?family=Dosis&family=Homemade+Apple&display=swap");

body {
  background-color: #f3f1f7;
  font-family: "Dosis", sans-serif;
}

/* .App {
  display: flex;
  justify-content: center;
} */
